body {
    font-family: 'Cabin Sketch', Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(77, 71, 71);
    background-color: rgba(229, 229, 229, 0);


}

h2 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;

}

h3 {
    margin: 1em 0 0.25em;

}


table,
tr,
td {
    border: 1px solid black;

}

table {
    border-collapse: collapse;
    margin: 0 auto;

}

tr {
    height: 20px;

}

td {
    width: 20px;

}


input[type=number] {
    width: 6em;
    padding:.2em;

}

ul {
    list-style-type: none;
}


.number {
    border: solid 2px #a7a49d;
    border-radius: 50%;
    display:inline-block;
    height: 25px;
    width:25px;
    text-align: center;
    padding-bottom: 5px;
    margin-right: 3px;

}


.medium-size {
    font-size: 150%;

}

.footer {
  background-color: #f5f5f5;
  bottom: 0;
  position: fixed;
  width: 100%;

}

.linkedin {color: #0077b5}
.fb {color: #3b5998; }
.github {color: #00405d }
.twitter {color: #55acee}
